/* Main Font = Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

/* Heading Font = Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,700&display=swap');

:root {
  --grey-bg: #f6f6f6;
  --accent-main: #a79344;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', 'Times New Roman', Times, serif;
  transition: all 0.2s ease-out;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* HERO SECTION */
.hero-section {
  height: 100vh;
  width: 100%;
  line-height: 1.5;
  padding: 0 140px;
  background-image: url('../img/top-section.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

h2 {
  color: var(--accent-main);
  font-family: 'Merriweather', 'Times New Roman', Times, serif;
  font-size: 2rem;
}

h1 {
  color: #fff;
  font-family: 'Merriweather', 'Times New Roman', Times, serif;
  font-size: 3rem;
}

.text {
  color: #fff;
  font-family: 'Merriweather', 'Times New Roman', Times, serif;
  font-size: 1rem;
  line-height: 1.5;
}

.text-white {
  color: #fff;
}
.text-dark {
  color: #161617;
}
.text-grey {
  color: #6c6c6c;
}

.text-accent {
  color: var(--accent-main);
}

.text-italic {
  font-style: italic;
}

.text-thin {
  font-weight: 300;
}

.button {
  padding: 15px 60px;
  font-size: 1.1rem;
  margin: 3rem 0;
  border: 1px solid #000;
  cursor: pointer;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.bg-accent {
  background-color: var(--accent-main);
}

.button:hover {
  background-color: #fff;
  color: var(--accent-main);
}

/* CTA SECTION */
.cta-section {
  background-color: #1b263b;
  padding: 20px 0;
  line-height: 2;
}

.cta-section-wrapper {
  margin: 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cta-section-wrapper .col:nth-child(1) {
  width: 70%;
}

.cta-section-wrapper .col:nth-child(2) {
  width: 30%;
}

/* THIRD SECTION */
.third-section {
  padding: 20px 0;
  line-height: 2;
}
.third-section-wrapper {
  margin: 0 100px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}




/* Responsiveness */
@media (max-width: 896px) {
  .hero-section {
    padding: 0;
    height: 60vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-shadow: 3px 0px 7px rgba(11, 10, 5, 0.8),
      -3px 0px 7px rgba(19, 17, 11, 0.8),
      0px 4px 7px rgba(29, 25, 12, 0.8);
  }

  .cta-section-wrapper {
    flex-direction: column;
    margin: 0 0;
  }

  .cta-section .col {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cta-section-wrapper .col:nth-child(1) {
    width: 90%;
  }
  
  .cta-section-wrapper .col:nth-child(2) {
    width: 90%;
  }
}